.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 98vh;
}

#carrosel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
}

#drops img {
    width: 250px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#drops {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 200px;
}

.campo {
    margin: 20px;
}

.campo select {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    min-width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.campo label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
}

.btn-continuar {
    width: 80%;
    padding: 10px;
    background-color: #0cbaa0;
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    background-image: url("../img/next.png");
    background-repeat: no-repeat;
    background-position: right 60px center;
    background-size: 25px 25px;
    padding-right: 40px;
}

.btn-continuar:hover {
    background-color: #0a9e8c;
    color: white;  
    background-image: url("../img/next-branco.png");
}

.btn-voltar {
    width: 40%;
    padding: 10px;
    background-color: gray;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    background-image: url("../img/back-branco.png");
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: 25px 25px;
    padding-left: 40px;
}

.btn-voltar:hover {
    background-color: #a2c7c1;
    color: black;
    background-image: url("../img/back.png");  
}